@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes runing1 {
  0% {left: 35%; z-index: 0; scale: 1.2;}
  50% {left: 60%; scale: 0.7;}
  100% {left: 35%; z-index: 10; scale: 1.2;}
}
@keyframes runing2 {
  0% {right: 40%; top: 30%; z-index: 8; scale: 0.7;}
  50% {right: 55%; top: 60%; scale: 1.2;}
  100% {right: 40%; top: 30%;z-index: 2; scale: 0.7;}
}
@keyframes runing3 {
  0% {right: 30%; top: 70%; z-index: 9; scale: 0.7;}
  50% {right: 65%; top: 25%; scale: 1.2;}
  100% {right: 30%; top: 70%;z-index: 1; scale: 0.7;}
}

.animateRun1{
  animation-name: runing1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.animateRun2{
  animation-name: runing2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.animateRun3{
  animation-name: runing3;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}